@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

/****************************/
/*                          */
/*           BODY           */
/*                          */
/****************************/
    html{
        font-family: Arial,sans-serif;
    }

    body{
        /*font-family: "Gotham A","Gotham B";*/
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
        font-size: 15px;
            font-weight: 100;
        line-height: 1.45em;
        color: #555;
    }

    #bodyForm{
        background-color: rgb(243,243,243);
        /*top:10vh;*/
        margin: 60px 0 60px 0 ;
        left: 12vw;
        width: 75vw;
        text-align: center;

        /*box-shadow: 0.1em 0.1em 0.5em #bfbfbf;*/

        padding: 1em;
    }

/****************************/
/*                          */
/*   LOOCK&FEEL WHYNDHAM    */
/*                          */
/****************************/

    .labelForm{
        text-transform: ;
    }
    
    i.fa.iconForm, i.fa.arrowForm{
        font-size: 5em;
        margin: 0.3em 0em 0.1em 0em;
        color: rgb(85,85,85);
    }

    h1{
        color: rgb(51,51,51);
        font-size: 2em;
        font-weight: bold;
    }

    label{
        color: rgb(85,85,85);
        text-transform: uppercase;
        font-size: 11px;
    }

    ::-webkit-input-placeholder {
       font-style: italic;
    }
    :-moz-placeholder {
       font-style: italic;  
    }
    ::-moz-placeholder {
       font-style: italic;  
    }
    :-ms-input-placeholder {  
       font-style: italic; 
    }
    option:disabled{
        font-style: italic;
    }
    /****************************/
    /*                          */
    /*     HEADER(NAVBAR)       */
    /*                          */
    /****************************/
        .navbar{
            background-color: rgb(255,255,255);
            /*width: 100vw;*/
            left: 0;
            height: 6em;
            color: #333;
            line-height:1.2em;
            font-weight: 400;
            font-size: 12px;
        }

        img.brandLogo{
            max-width: 165px;
            max-height: 55px;
            /*padding-top: .33em;*/
            margin-top: 5px;
        }

        @media (max-width: 1199px){
            .logoContainer img{
                width: auto;
                margin: 0 auto;
                max-height: 40px;
            }
        }

        .logoContainer img{
            max-width: 155px;
        }

        img.brandLogo{
            margin-top: 15px;
            display: block;
        }

        .navbar-toggle{
            margin-top: 15px;
            float: left;
            margin-right: 16px;
            margin-left: 16px;
        }

        .navbar-default .navbar-toggle{
            border-color: transparent;
        }

        .navbar-toggle .icon-bar{
            height: 3px;
        }

        @media (min-width: 1200px){
        .logoContainer img {
            max-height: 55px;
            max-width: 265px;
            margin-top: 15px;
        }
        }

        .logoContainer{
            min-width: 11em;
            margin-top: 1.4em;
            margin-left: 1.5em;
        }

        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
         }

        .navbar-default .navbar-nav>li>a{
            color: #333;
            margin-top: 1.4em;
            font-weight: 100;
            line-height:1.2em;
            font-size: 12px;
            /*font-size: 0.9em;*/
        }

        .navbar-default .navbar-nav>li>a:hover{
            /*color: #333;*/
            text-decoration: underline;
        }

        .navbar-default .navbar-nav ul{
            margin-left: 10em;
        }

        .navbar,.navbar-default {
            border-color: transparent; 
            border-bottom-color: #0975bb;
            border-bottom-width: 2px;
            border-radius: 0px;
        }   

        div#bs-example-navbar-collapse-1.navbar-toggle.collapsed ul.nav.nav-bar-nav{
            position: relative;
            left: 10em;
        }

    /****************************/
    /*                          */
    /*         FOOTER           */
    /*                          */
    /****************************/
        footer{
            color:#fff;
            background-color: #003353;
            text-align: center;
        }

        #imgFooter{
            height: 60px;
            width: auto;
            margin: 60px;
        }

/****************************/
/*                          */
/*          FORM            */
/*                          */
/****************************/
    .formSpace{
        margin-top:3em; 
        text-align: left;
    }

    input,select{
        min-height: 3em;
        background-color: white;
        border-color: rgb(187,193,197);
        color: rgb(184,184,184);
        /*color: rgb(187,193,197);*/
        border-width: 0.12em;
        border-style: solid;
        width: 100%;
    }

    option:disabled{
        color: rgb(184,184,184);

    }

    i.fa.arrowForm.unable{
        color: rgb(184,184,184);
    }

    .arrowCol{
        padding: 10% 0;
    }

    textarea:focus, input:focus, input:focus {
        color: rgb(85,85,85);
        font-weight: bold;
    }

    input, select, textarea{
        color: rgb(85,85,85);
    }

    .centered{
        text-align: center;
    }

/****************************/
/*                          */
/*        RADIO FORM        */
/*                          */
/****************************/
    input.radioForm{
        margin-top:-20px;
    }

    td.radioForm{
        width: 4em;
        text-align: right;

    }

    td.radioFormLabel{
        text-align: left;
        padding-left:1em;
        
    }

/****************************/
/*                          */
/*       BUTTON FORM        */
/*                          */
/****************************/
    .buttonForm{
        border-style: solid;
        border-color: rgb(184,184,184);
        color: rgb(184,184,184);
        border-width: 0.2em;
        border-bottom-width: 0.5em;
        background-color: transparent;
        padding: 1em;

        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;

        /*max-width: 40%;*/
        min-width: 40%;
        
        margin: 0.3em;    
        min-height: 4em;    
    }

    .buttonForm:hover,.buttonForm.active{
        border-color: rgb(85,85,85);
        color: rgb(85,85,85);
    }

/****************************/
/*                          */
/*          MODAL           */
/*                          */
/****************************/
    .modal-content{
        border-radius: 0;
    }

    .btn{
        border-radius: 0;
    }

    .btn-primary{
        background-color: rgb(0,101,171);
        border-color: rgb(0,101,171);
    }

    .btn.full{
        width: 100%;
    }

    .labelCompanion{
        background-color: rgb(197,197,197);
        padding:0.5em;
        color: #fff;
        margin: 0.1em;
    }

    .lblIcon{
        padding: 0.2em;
        float: right;
    }

    button:disabled,.btn-primary[disabled]:hover{
        background-color: rgb(184,184,184);
        border-color: rgb(184,184,184);
    }