#bodyForm{
	background-color: rgb(243,243,243);
	top:10vh;
	left: 12vw;
	width: 75vw;
	text-align: center;

	box-shadow: 0.1em 0.1em 0.5em #bfbfbf;

	padding: 1em;
}

h1{
	color: rgb(51,51,51);
	font-size: 2em;
	font-weight: bold;
}

header{
	background-color: rgb(40,40,40);
	width: 100vw;
	left: 0;
	height: 6em;
}

label{
	color: rgb(85,85,85);
}

i.fa.iconForm, i.fa.arrowForm{
	font-size: 5em;
	margin: 0.3em 0em 0.1em 0em;
	color: rgb(85,85,85);
}

.formSpace{
	margin-top:3em; 
	text-align: left;
}

input,select{
	min-height: 3em;
	background-color: white;
	border-color: rgb(187,193,197);
	color: rgb(184,184,184);
	/*color: rgb(187,193,197);*/
	border-width: 0.12em;
	border-style: solid;
	width: 100%;
}

option:disabled{
	color: rgb(184,184,184);

}

i.fa.arrowForm.unable{
	color: rgb(184,184,184);
}

.arrowCol{
	padding: 10% 0;
}

textarea:focus, input:focus, input:focus {
    color: rgb(85,85,85);
    font-weight: bold;
}

input, select, textarea{
    color: rgb(85,85,85);
}

input.radioForm{
	margin-top:-20px;
}

td.radioForm{
	width: 4em;
	text-align: right;

}

td.radioFormLabel{
	text-align: left;
	padding-left:1em;
	
}

table.tableForm.rooms{
	background-color: red;
}

table.tableForm.rooms > tbody> tr > td{
	min-height: 4em;
}

table.tableForm.rooms > tbody> tr > td{
	border-color: black;
	border-style: solid;
	color: yellow;
	margin: 2em;
	padding: 1em;
	width: 40%;
	text-align: center;
	border-bottom-width: 0.5em;
}