<!DOCTYPE html>
<html>
	<head>
		<!-- HEAD: INDEX TEMPLATE -->
		  <title>Make a Reservation</title>
			<!-- INCLUDE REQUIRED THIRD PARTY LIBRARY JAVASCRIPT AND CSS -->
			<script type="text/javascript" src="js/angular.min.js"></script>

			<!-- INCLUDE APPLICATION SPECIFIC CSS AND JAVASCRIPT -->
			<script type="text/javascript" src="js/reservation-app/app.js"></script>
			<script type="text/javascript" src="js/reservation-app/controllers/mainController.js"></script>
			<script type="text/javascript" src="js/reservation-app/services/RegistrationService.js"></script>
	  <!-- FIN HEAD TEMPLATE -->

		<!-- HEAD: INDEX RESERVA -->
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link rel="icon" type="image/png" href="img/favicon-whg.png" sizes="32x32">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	    <!-- Bootstrap -->
	    <link href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom Style -->
	    <!-- <link href="css/style.css" rel="stylesheet"> -->
			<link rel="stylesheet" href="css/main.css">
	    
	    <!-- JQuery -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    
	    <!-- FontAwesome -->
	    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
	    
	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->

			<!-- DATEPICKER -->
			<link rel="stylesheet" type="text/css" href="css/dhtmlxCalendar_v51_std/codebase/fonts/font_roboto/roboto.css"/>
			<link rel="stylesheet" type="text/css" href="css/dhtmlxCalendar_v51_std/codebase/dhtmlxcalendar.css"/>
			<script src="css/dhtmlxCalendar_v51_std/codebase/dhtmlxcalendar.js"></script>		
		<!-- FIN HEAD RESERVA -->
	</head>

	<!-- RESERVA -->
  <body ng-app="ReservationApp" ng-controller="mainController">

    <!--***********************************-->
    <!--                                   -->
    <!--              NAVBAR               -->
    <!--                                   -->
    <!--***********************************-->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>


            <div class="logoContainer">
              <img alt="Brand" class="brandLogo" src="img/WYN_logo_BMP.png">
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              
              <li><a href="#">HOME<span class="sr-only">(current)</span></a></li>
              <li><a href="#">SAVINGS CENTRAL</a></li>
              <li><a href="#">GROUPS</a></li>
              <li><a href="#">FIND RESERVATION</a></li>

            </ul>
            
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    <!--***********************************-->
    <!--                                   -->
    <!--               MAIN                -->
    <!--                                   -->
    <!--***********************************-->
	    <div class="container-fluid" ng-init="init()">
	      <!--***********************************-->
	      <!--                                   -->
	      <!--               TEXT                -->
	      <!--                                   -->
	      <!--***********************************-->
	        <div class="row">
	          <div class="col-md-12" style="text-align: center;">
	          <br>
	          <img src="img/hotel-icon.png" id="hotel-icon">
	          <br>
	          RESERVATION
	          <br>
	          </div>
	        </div>

	      <!--*****************************************************-->
	      <!--                                                     -->
	      <!--            CUERPO SISTEMA DE RESERVACION            -->
	      <!--                                                     -->
	      <!--*****************************************************-->
	        <div class="row">
	          <div class="col-md-12" style="text-align: center;top: 9vh;">
	            Completa el formulario para realizar tu reservacion
	          </div>
	          <!--***********************************-->
	          <!--                                   -->
	          <!--         CUERPO FORMULARIO         -->
	          <!--                                   -->
	          <!--***********************************-->
	            <div class="col-md-6" id="bodyForm">
	              <div class="col-md-4">
	                <h1>
	                <!--*************************-->
	                <!--                         -->
	                <!--   LABELS FORMULARIOS    -->
	                <!--                         -->
	                <!--*************************-->
                    <span class="labelForm" id="labelForm1">{{labelForm}}</span>
                    <br>
	                  
	                <!--*************************-->
	                <!--                         -->
	                <!--   ICONOS FORMULARIOS    -->
	                <!--                         -->
	                <!--*************************-->
                    <i 	id="iconForm" 
                    		class="iconForm" 
                    		aria-hidden="true" 
                    		ng-class="{	'fa fa-address-card-o':(count <= 2 || count == 4),
                    								'fa fa-calendar':(count == 3),
                    								'fa fa-bed':(count == 5),
                    								'fa fa-money':(count == 6)}"></i>
	                
	                </h1>

	                <!--*************************-->
	                <!--                         -->
	                <!--    LABELS COMPANIONS    -->
	                <!--                         -->
	                <!--*************************-->
		                <span ng-show="count == 4 && companions !=[]">
		                	<div class="row">
		                	<div class="col-md-6">
		                		
		                	<div ng-repeat="con in companions" class="labelCompanion" ng-show="con.type == 0">
		                		{{con.first_name}} 
		                		<span class="fa fa-times  lblIcon" ng-click="deleteCompanion(con.email);"></span>
		                		<span class="fa fa-pencil lblIcon" ng-click="editCompanion(con.email);"></span> 
		                	</div>
		                	</div>
		                	</div>
		                </span>

	              </div>

	              <!--*************************-->
	              <!--                         -->
	              <!--      FLECHA ATRAS       -->
	              <!--                         -->
	              <!--*************************-->
	                <div class="col-md-1 arrowCol">
	                      <i class="fa fa-angle-left unable arrowForm left" aria-hidden="true" ng-click="prevForm();"></i>
	                </div>

	              <!--*************************-->
	              <!--                         -->
	              <!--     FLECHA ADELANTE     -->
	              <!--                         -->
	              <!--*************************-->
	                <div class="col-md-1 col-md-push-6 arrowCol" >
	                      <i 	class="fa fa-angle-right arrowForm right" 
	                      		aria-hidden="true" 
	                      		ng-click="nextForm();" 
	                      		ng-class=" {'unable' : 	
	                      		(count == 1 && (
	                      			(emailU == null || emailU == '') || 
	                      			(nameU == null || nameU == '') || 
	                      			(lastnameU == null || lastnameU == '')
	                      			(dniU == null || dniU == '') || 
	                      			(dateBirthU == null || dateBirthU == '') || 
	                      			(genderU == null || genderU == '') )
	                      		) || 
	                      		
	                      		(count == 2 && (
	                      			(countryU == null || countryU == '') ||  
	                      			(cityU == null || cityU == '') )
	                      		) || 

	                      		(count == 3 && (
	                      			(dateIn == null || dateIn == '') ||
	                      			(dateOut == null || dateOut == '') )
	                      		) ||

	                      		(count == 5 && (
	                      			(roomSelected == null || roomSelected == '') )
	                      		) ||

	                      		(count == 6)}" ></i>
	                </div>          

	              <!--*************************-->
	              <!--                         -->
	              <!--       FORMULARIOS       -->
	              <!--                         -->
	              <!--*************************-->
	                <div class="col-md-6 col-md-pull-1 formSpace">
	                  <form>

	                  <!--*********************-->
	                  <!--                     -->
	                  <!-- VISTA 1:            -->
	                  <!-- email,name,lastname -->
	                  <!--id,phone,birth,gender-->
	                  <!-- code                -->
	                  <!--                     -->
	                  <!--*********************-->
	                    <span id="viewForm1">
	                    
		                    <div class="row">
		                    	<div class="col-md-12">
			                      <label>Email</label><br>
			                      <input 	type="email" 
			                      				name="emailU" 
			                      				id="emailU" 
			                      				placeholder="example@mail.com"
			                      				ng-change="getPersonU();" 
			                      				ng-model="emailU"/>	
		                    	</div>
		                    </div> <!-- fin row -->

		                    <div class="row">
		                    	<div class="col-md-6">
			                      <label>Name</label><br>
			                      <input 	type="text" 
			                      				name="" 
			                      				id="nameU"  
			                      				placeholder="Name" 
			                      				ng-model="nameU" />

			                      <label>Lastname</label><br>
			                      <input 	type="text" 
			                      				name="" 
			                      				id="lastnameU"  
			                      				placeholder="Lastname" 
			                      				ng-model="lastnameU" />
														
														<label>Gender</label><br>
		                    		<div class="row">
		                        		<div class="col-md-4 radioForm" ng-repeat="gen in genders" for="{{gen}}">
		                            	<label class="radio-inline">
		                              	<input 	class="radioForm" 
		                              					type="radio" 
		                              					name="gender"
		                              					value="{{gen}}"
		                              					ng-click="setGender(gen);"
		                              					ng-model="genderU">
		                    					</label>
		                        		<span class="radioFormLabel">	{{gen}}</span>
		                        		</div>
		                        </div>
			                      
		                    	</div> <!-- fin col-md-6 -->

		                    	<div class="col-md-6">
			                      <label>DNI</label><br>
			                      <input 	type="text" 
			                      				name="dniU" 
			                      				id="dniU"  
			                      				placeholder="DNI" 
			                      				ng-model="dniU"/>

			                      <label>Phone</label><br>
			                      <input 	type="text" 
			                      				name="phoneU" 
			                      				id="phoneU"  
			                      				placeholder="(0000) 000-00-00" 
			                      				ng-model="phoneU"/>

			                      <label>Date of Birth</label><br>
			                      <input 	type="text" 
			                      				id="cal_DateBirthU"
			                      				ng-model="dateBirthU">
			                              
		                    	</div> <!-- fin col-md-6 -->
		                    </div><!-- fin row -->
		                    
		                    <div class="row">
		                    	<div class="col-md-12">
		                    		<label>Code</label><br>
			                      <input 	type="text" 
			                      				name="" 
			                      				id="code"  
			                      				placeholder="XXXX" 
			                      				ng-model="code" /> 
		                    	</div> <!-- fin col-md-12 -->
		                    </div><!-- fin row -->
	                    </span>
                   

	                  <!--*********************-->
	                  <!--                     -->
	                  <!-- VISTA 2:            -->
	                  <!-- civil state,        -->
	                  <!-- nationality,        -->
	                  <!-- education level     -->
	                  <!-- country,state,city  -->
	                  <!--                     -->
	                  <!--*********************-->
	                    <span id="viewForm2">   
		                    <div class="row">
		                    	<div class="col-md-6">	                    
		                      <label>Civil State</label><br>
		                      <select id="civilState1">
		                          <option selected="" disabled="" value="0">Select Civil State</option>
		                          <option value="1">Single</option>
		                          <option value="2">Married</option>
		                          <option value="3">Divorced</option>
		                      </select>

		                      <label>Nationality</label><br>
		                      <input 	type="text" 
		                      				name="nationalityU" 
		                      				id="nationalityU"  
		                      				placeholder="Nationality" 
		                      				ng-model="nationalityU"/>

		                      <label>Education Level</label><br>
		                      <select id="EducationLevel1">
		                          <option selected="" disabled="" value="0">EducationLevel</option>
		                          <option value="1">EducationLevel1</option>
		                          <option value="2">EducationLevel2</option>
		                          <option value="3">EducationLevel3</option>
		                      </select>
		                    	</div> <!-- fin col-md-6 -->
		                    	<div class="col-md-6">
														<label>Country</label><br>
			                      <input 	type="text" 
			                      				name="countryU" 
			                      				id="countryU"  
			                      				placeholder="Country" 
			                      				ng-model="countryU"/>

			                      <label>State</label><br>
			                      <input 	type="text" 
			                      				name="stateU" 
			                      				id="stateU"  
			                      				placeholder="State" 
			                      				ng-model="stateU"/>

			                      <label>City</label><br>
			                      <input 	type="text" 
			                      				name="cityU" 
			                      				id="cityU"  
			                      				placeholder="City" 
			                      				ng-model="cityU"/>          		
		                    	</div> <!-- fin col-md-6 -->
		                    </div> <!-- fin row -->
	                    </span>           
	                  
	                  <!--*********************-->
	                  <!--                     -->
	                  <!-- VISTA 3:            -->
	                  <!-- date in/out         -->
	                  <!--                     -->
	                  <!--*********************-->
	                    <span id="viewForm3">
	                      <div class="row">
	                        <div class="col-md-12">
	                          <label>In Date</label><br>
	                          <input 	type="text" 
	                          				id="cal_DateIn"
	                          				ng-model="dateIn">
	                          
	                        </div>
	                        <div class="col-md-12">
	                          <label>Out Date</label><br>
	                          <input 	type="text" 
	                          				id="cal_DateOut"
	                          				ng-model="dateOut">
	                          
	                        </div>
	                      </div> 
	                    </span>

	                  <!--*********************-->
	                  <!--                     -->
	                  <!-- VISTA 4:            -->
	                  <!-- nameC,phoneC,emailC -->
	                  <!-- BirthC,lastnameC    -->
	                  <!-- dniC,genderC        -->
	                  <!--                     -->
	                  <!--*********************-->
	                    <span id="viewForm4"> 
	                    	<div class="row">
	                    		<div class="col-md-12">

														<label>Email</label><br>
			                      <input 	type="email" 
                      				name="emailC" 
                      				id="emailC" 
                      				placeholder="example@mail.com"
                      				ng-change="getPersonC();" 
                      				ng-model="emailC"/>
	                    		
	                    		</div>
	                    	</div>

	                      <div class="row">
	                          <div class="col-md-6">

	                            <label>Name</label><br>
				                      <input 	type="text" 
				                      				name="nameC" 
				                      				id="nameC"  
				                      				placeholder="Name" 
				                      				ng-model="nameC"/>

	                            <label>DNI</label><br>
				                      <input 	type="text" 
				                      				name="dniC" 
				                      				id="dniC"  
				                      				placeholder="DNI" 
				                      				ng-model="dniC"/>

	                            <label>Date of Birth</label><br>
                              <input 	type="text" 
                              				id="cal_DateBirthC"
                              				ng-model="dateBirthC">
	                          </div>

	                          <div class="col-md-6">
	                            <label>Lastname</label><br>
				                      <input 	type="text" 
				                      				name="lastnameC" 
				                      				id="lastnameC"  
				                      				placeholder="Lastname" 
				                      				ng-model="lastnameC"/>

	                            <label>Phone</label><br>
				                      <input 	type="text" 
				                      				name="phoneC" 
				                      				id="phoneC"  
				                      				placeholder="(0000) 000-00-00" 
				                      				ng-model="phoneC"/>

				                      <label>Gender</label><br>
			                    		<div class="row">
			                        		<div class="col-md-4 radioForm" ng-repeat="g in genders" for="{{g}}">
			                            	<label class="radio-inline">
			                              	<input 	class="radioForm" 
			                              					type="radio" 
			                              					name="genderC"
			                              					ng-value="g"
			                              					ng-click="setGenderC(g);"
			                              					ng-model="genderC">
			                    					</label>
			                        		<span class="radioFormLabel">	{{g}}</span>
			                        		</div>
                      				</div> 
	                          </div>                  
	                      </div> 

	                      <div class="row">
	                      	<div class="col-md-12">
	                      	<br>
	              						<button type="button" 
	              										ng-click="addCompanion()" 
	              										class="btn btn-primary full" 
	              										ng-disabled=" (countCompanions() == maxCompanion) && !editbtn">
	              										Add Companion
	              						</button>
	                      	</div>
	                      </div> 
	                    </span>

	                  <!--*********************-->
	                  <!--                     -->
	                  <!-- VISTA 5:            -->
	                  <!-- Rooms               -->
	                  <!--                     -->
	                  <!--*********************-->
	                    <span id="viewForm5"> 
	                      <div class="row centered">
	                      <button 
	                      		type="button" 
	                      		ng-repeat="r in rooms" 
	                      		ng-click="showRoom(r.id)"
	                      		class="buttonForm"  
	                      		id ="room{{r.id}}" 
	                      		data-toggle="modal" 
	                      		data-target="#ModalRooms" 
	                      		data-room={{r.id}}>
	                        {{r.name}}
													<br>
													<span id="roomInfo{{r.id}}">											
														<label>Price:</label> 
					              			{{r.rate}} $
					              		<br>

					              		<label>Capacity:</label> 
					              			{{r.capacity}} Person
					              		<br>
					              		
					              		<label>Available:</label> 
					              			<span ng-show="r.bank != 0">Yes</span>
					              			<span ng-show="r.bank == 0">No</span>
					              		
													</span>
	                      </button>
	                      </div>  
	                    </span>               
	                  
	                  <!--*********************-->
	                  <!--                     -->
	                  <!-- VISTA 6:            -->
	                  <!-- Final               -->
	                  <!--                     -->
	                  <!--*********************-->
	                    <span id="viewForm6">
	                      
	                      <div class="row">
	                        <div class="col-md-12">
		                        <div class="row" id="roomInfoRow">
			                        <div class="col-md-4" id="rommImgBill">
			                        	{{roomSelected.img}}
			                        </div> <!-- fin col-md-4 -->
			                        <div class="col-md-8" id="roomInfoBill">
			                        	<h1>	
			                        	{{roomSelected.name}}
			                        	</h1>
			                        	<br>
			                        	<h2>
			                        	Capacity {{roomSelected.capacity}} Person(s)
			                        	</h2>
			                        </div> <!-- fin col-md-8 -->
		                        </div> <!-- fin row roomInfoRow -->
	                        </div> <!-- fin col-md-12 -->
	                      </div> <!-- fin row -->

	                      <div class="row" id="roomPriceBill">
	                      	<div class="col-md-12">
	                      		<span style="float: left;">Price per Night</span>
	                      		<span style="float: right;">{{roomSelected.rate}} $ x {{nights}} Nights</span>
	                      		
	                      		<br>
	                      		<span ng-show="discount != null && discount != 0">
	                      			<span style="float: left;">Discount</span>
	                      			<span style="float: right;">{{discount}} $</span>
	                      		</span>
	                      	</div> <!-- fin col-md-12 -->
	                      </div> <!-- fin row -->
	                      
	                      <div class="row centered" id="totalBill">
	                      	<div class="col-md-12">
	                      		<span id="totalLbl">Total</span>
	                      		<br>
	                      		<b><span id="totalBillnum">{{totalPay}} $</span></b>
	                      	</div> <!-- fin col-md-12 -->
	                      </div> <!-- fin row totalBill-->
	                    
	                    <div class="row">
	                    	<div class="col-md-12">
	                    		Payment Method
	                    		<div class="row">
	                    			<div class="col-md-4 radioForm" ng-repeat="p in payments">
															<label class="radio-inline">
                              	<input 	class="radioForm" 
                              					type="radio" 
                              					name="payment"
                              					value="{{p.id}}"
                              					ng-click="setPayment(p.id);"
                              					ng-model="payment">
                    					</label>
                        		<span class="radioFormLabel">	{{p.name}}</span>
	                    			</div> <!-- fin col-md-4 radioForm-->
	                    		</div> <!-- fin row -->
	                    	</div> <!-- fin col-md-12 -->
	                    </div> <!-- fin row -->
	                    
	                     <div class="row">
	                      	<div class="col-md-12">
	                      	<br>
	              						<button type="button" ng-click="sendReservation()" class="btn btn-primary full" ng-disabled="payment == null">Make Reservation</button>
	                      	</div>
	                      </div> 

	                    </span>                  
	                  </form>
	                </div>
	            </div>
	        </div> <!-- fin row -->
	    </div>

    <!--***********************************-->
    <!--                                   -->
    <!--              FOOTER               -->
    <!--                                   -->
    <!--***********************************-->
	    <footer>
	    	<img src="img/wyndham-rewards.png" id="imgFooter" />
	    </footer>

    <!--*************************-->
    <!--                         -->
    <!-- MODAL:                  -->
    <!-- Tipo de habitacion      -->
    <!--                         -->
    <!--*************************-->
      <div class="modal fade" id="ModalRooms" role="dialog" aria-labelledby="ModalRoomsLabel">
        <div class="modal-dialog">
          <div class="modal-content">
          	<!--*************************-->
            <!--                         -->
            <!--      MODAL HEADER       -->
            <!--                         -->
            <!--*************************-->
	            <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	              <h4 class="modal-title" id="ModalRoomsLabel">Room {{roomShowed.name}}</h4>
	            </div>
          	
          	<!--*************************-->
            <!--                         -->
            <!--       MODAL BODY        -->
            <!--                         -->
            <!--*************************-->
	            <div class="modal-body">
	              <div class="row">
	              	<div class="col-md-6" class="modalBody">
	              		<label>Price:</label> 
	              			{{roomShowed.rate}} $
	              		<br>

	              		<label>Capacity:</label> 
	              			{{roomShowed.capacity}} Person
	              		<br>
	              		

	              		<label>Room View:</label> 
	              			{{roomShowed.view.name}}
	              		<br>

	              		<label>Available:</label> 
	              			<span ng-show="roomShowed.bank != 0">Yes</span>
	              			<span ng-show="roomShowed.bank == 0">No</span>
	              		<br>
	              		

	              	</div>
	              	<div class="col-md-6">{{roomShowed.img}}</div>
	              </div>
	            
	            	<span ng-show="roomShowed.capacity < (countCompanions() + 1)" class="alertText"><b>You have {{countCompanions()}} companions and this room have capacity to max ( {{roomShowed.capacity}} ) persons</b></span>

	            </div>

          	<!--*************************-->
            <!--                         -->
            <!--      MODAL FOOTER       -->
            <!--                         -->
            <!--*************************-->
	            <div class="modal-footer">
	              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	              <button type="button" class="btn btn-primary" ng-click="selectRoom();" data-dismiss="modal" ng-disabled="roomShowed.capacity < (countCompanions() + 1)">Pick this Room</button>
	            </div>
          
          </div> <!-- fin .modal-content -->
        </div> <!-- fin .modal-dialog -->
      </div> <!-- fin .modal.fade -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- FIN BODY RESERVA -->

</body>
</html>